@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: inter;
    font-size: 1.2rem;
    font-weight: 250;
    font-style: normal;
    text-decoration: none;
}

body {
    background-color: black;
    color: #fff;
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: radial-gradient(circle at 50% 200%, #005339 30%, #004a3f, #003f43, #003344, #002642, #00193d, #000e31, #000822, #000313, #000106, #000001, #000000 100%);
}